/*
 * pipeline input parameters
 */

params {
    message = "hello world"
    message_greet = "welcome"
    outdir = "output"
    nextflow_logs = "nextflow"

}

docker {
    enabled = true
    registry = "docker.io"
}

tower{
    enabled = true
}

timeline {
    enabled = true
    file    = "${params.nextflow_logs}/timeline.html"
}
report {
    enabled = true
    file    = "${params.nextflow_logs}/report.html"
}
trace {
    enabled = true
    file    = "${params.nextflow_logs}/trace.txt"
}
dag {
    enabled = true
    file    = "${params.nextflow_logs}/dag.html"
}

env {
  NXF_OPTS="Xms1g -Xmx1g"
}

process {
  executor = 'google-batch'
  container = 'docker.io/gss1007/test:latest'
}

google {
    project = 'genomics-sbx'
    location = 'us-central1'
    batch {
        spot = true
    }
}