/*
 * pipeline input parameters
 */

params {
    message = "hello world"
    params.message_greet = "welcome"
    outdir = "output"

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Set default registry for Docker
docker.registry      = 'docker.io'

profiles {

    docker {

    docker.enabled = true
}

}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/dag.html"
}