/*
 * pipeline input parameters
 */

params {
    message = "hello world"
    message_greet = "welcome"
    outdir = "output"
    nextflow_logs = "nextflow"

}

docker {
    enabled = true
    registry = "docker.io"
}

tower{
    enabled = true
}

timeline {
    enabled = true
    file    = "${params.nextflow_logs}/timeline.html"
}
report {
    enabled = true
    file    = "${params.nextflow_logs}/report.html"
}
trace {
    enabled = true
    file    = "${params.nextflow_logs}/trace.txt"
}
dag {
    enabled = true
    file    = "${params.nextflow_logs}/dag.html"
}

process {

    publishDir = [

    [
        path: { "${params.outdir}/" },
        report: { 'message.txt' },
        report_title: { "message Report" }
    ],

]
}